.overlay {
  width: 100%;
  padding: 2rem 2rem;
  background: radial-gradient(
    circle at 20% 50%,
    #E0A2C9 0%,
    #9B6AAC 50%,
    transparent 50%,
    transparent 100%
  ),
  radial-gradient(
    circle at 80% 50%,
    #E0A2C9 0%,
    #9B6AAC 50%,
    transparent 50%,
    transparent 100%
  );  
  box-shadow: 0 0.75rem 2rem 0 rgba(0, 0, 0, 0.1);
  border-radius: 2rem;
  border: 1px solid rgba(255, 255, 255, 0.125);
}

.bg-img {
  background-image: url(../public/img/bg.png);
  background-repeat: no-repeat;
  background-position: top left;
}

.multiText{
  color: #7f00ff;
  text-transform: capitalize;
}

h1{
  display: block;
  font-size: 2.5em;
  font-weight: 900;
  color: #3d535f;
}

.logo {
  width: 150px;
  min-width: 100px;
  font-size: 14px;
  line-height: 37px;
  height: 43px;
}

.console {
  border: 2px solid #ccc;
  border-radius: 5px;
  background-color: #333;
  color: #fff;
  font-family: Consolas, monospace;
  font-size: 14px;
  line-height: 1.5;
  overflow: auto;
  position: relative;
  width: 500px;
  height: 300px;
}

.console-header {
  background-color: #666;
  height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.console-button {
  border-radius: 50%;
  width: 12px;
  height: 12px;
  display: inline-block;
  margin-right: 5px;
}

.console-button.red {
  background-color: #f00;
}

.console-button.yellow {
  background-color: #ff0;
}

.console-button.green {
  background-color: #0f0;
}

.console-body {
  padding: 10px;
}

pre {
  margin: 0;
  padding: 0 10px;
}

code {
  display: block;
  padding: 10px 0;
}
